
// Bootstrap Variables
$icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';

// Import Bootstrap
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';


*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

* {
  background-color: lightblue;
}

.chatwindow {
  border: 2px solid white;
  padding: 5px;
  overflow-x: scroll;
  height: 200px;
  font-size: 16px;
  h4 {
    text-decoration: underline;
  }
}
